<div>
<div class="container-fluid">
      <div class="row">
        <div class="col-md-12 tdwelcome"><h2>{{Prod.name}}</h2></div>
      </div>
      <div class="row">
        <div class="col-md-3">
           <img class="prodimgstatic" ng-src="{{BasePath + Prod.pic}}" width="350" height="400"/>  
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-7">
            <p class="proddesc">{{Prod.description}}</p><br><a class="cattitle" href="/addbag/{{Prod.id}}">Добавить в корзину</a>
        </div>
      </div>
    </div> 
</div>